[
  {
    "id": "nosaka",
    "displayName": "野坂 星司",
    "slackUserId": "U011NOSAKA"
  },
  {
    "id": "yanase",
    "displayName": "梁瀬 聖太",
    "slackUserId": "U011YANASE"
  },
  {
    "id": "ito",
    "displayName": "伊藤 功",
    "slackUserId": "U011ITO"
  }
]
